<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NaValidade</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <h1>NaValidade: Um tracker de cozinha</h1>
    <p>Uma app simples onde podes gerir o stock de produtos da tua cozinha</p>

    <div class="search-container">
      <h2>Pesquisar Produto</h2>
      <input type="text" placeholder="Pesquisar produtos..." id="searchInput" />
      <button onclick="searchProducts()">Pesquisar</button>
    </div>
  
    <div class="add-product-container">
      <h2>Adicionar Produto</h2>
      <form id="addProductForm">
        <label for="productName">Nome do Produto:</label>
        <input type="text" id="productName" required />

        <label for="productCategory">Categoria:</label>
        <select id="productCategory" required>
          <option value="">Selecione uma categoria</option>
          <option value="refeicoes">Refeições</option>
          <option value="bebidas">Bebidas</option>
          <option value="lanches">Lanches e Snacks</option>
        </select>

        <label for="productQuantity">Quantidade:</label>
        <input type="text" id="productQuantity" required />

        <label for="productExpirationDate">Data de Validade:</label>
        <input type="date" id="productExpirationDate" required />

        <button type="submit">Adicionar Produto</button>
      </form>
    </div>

    
    <div class="refeicao">
      <h2>Produtos Secos - Refeições</h2>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Data de Validade</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="snacks">
      <h2>Produtos Secos - Snacks</h2>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Data de Validade</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="frescos">
      <h2>Produtos Frescos - Frigorífico</h2>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Data de Validade</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="legumes">
      <h2>Produtos Frescos - Legumes</h2>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Data de Validade</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="bebidas">
      <h2>Bebidas</h2>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Data de Validade</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>


    <div class="remove-product-container">
      <h2>Remover Produto</h2>
      <form id="removeProductForm">
        <label for="removeProductName">Nome do Produto:</label>
        <input type="text" id="removeProductName" required />
  
        <button type="submit">Remover Produto</button>
      </form>
    </div>
  </body>
  
  </html>
  
  
<router-outlet></router-outlet>
