body {
  background: #4ebaa6;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 100px;
  padding: 50px;
  border-radius: 25px;
}

div{
  border-radius: 25px;
  border-color: darkslategrey;
  border-style: dotted;
  background-color: rgb(235, 235, 134);
  color: black;
  padding: 25px;
  margin-top: 50px;
}

th, td {
  padding: 10px;
}

table{
  border-collapse: collapse; 
  empty-cells: show;
}

button, input, select{
  border-radius: 25px;
  border-color: black;
  background-color: #deda95;
  color: black;
  padding: 5px;
  margin: 10px;
}
